<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<meta name="description" content="contact">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">

<link rel="stylesheet" href="./../../../resources/static/taga/toppagecss.css">

<link th:href="@{/taga/toppagecss.css}" rel="stylesheet" type="text/css" />

<title>サービス利用規約 </title>
</head>
<body>
	<header>

        <div class="header">
            <div class="logo">

                <a href="Toppage">
                    <img class="logo" th:src="@{/taga/ceros.jpg}">
                </a>

            </div>
            <div>
				<h3>Fumio Kishida  さん ようこそ♪</h3>
			</div>

            <div class="rightheader">
                <div class="login">
                    <a href="">ログイン</a>
                </div>
                
                <div class="favorite">
                    <a href="favoriteitems">お気に入り</a>
                </div>

                <div class="cart">
                    <a href="">カート</a>
                </div>
            </div>
        </div>

    </header>
    
     <article>
		<div class="otherarticle">
			
			<h2>サービス利用規約</h2>
			
			
				
	<section>
		<h2 class="heading-2xl">第1章 総則</h2>

		<section>
			<h3 class="heading-xl">第1条 本規約の適用範囲及び変更</h3>
			<ol class="list-plain list-styled row-gap-md">
				<li class="list-plain-item">この規約（以下、「本規約」といいます。）は、株式会社ZOZO（以下、「当社」といいます。）が運営するウェブサイト「ZOZOTOWN」（以下、「本サイト」といいます。）において提供するサービス（以下、「本サービス」といいます。）の利用条件を定めるものです。</li>
				<li class="list-plain-item">本規約は、本サービスの閲覧、本サービスへの直接的又は間接的なアクセス、本サービスを通じての購入などの利用を行った方（以下、第4条で定める「会員」を含み、「利用者」といいます。）及び当社に適用されます。本サービス以外に当社が利用者に提供するサービスに関しては、当社が別途定める当該サービスの利用にかかる規約が適用され、当該規約に別途定められる場合を除き、本規約は適用されないものとします。</li>
				<li class="list-plain-item">当社は、以下の各号の何れかに該当する場合、当社の裁量により、本規約を変更することができます。
					<ol class="list-plain list-parentheses-number row-gap-md">
						<li class="list-plain-item">本規約の変更が、利用者の一般の利益に適合する場合</li>
						<li class="list-plain-item">本規約の変更が、契約をした目的に反せず、かつ、変更の必要性、変更後の内容の相当性、変更の内容その他の変更に係る事情に照らして合理的なものである場合</li>
					</ol>
				</li>
				<li class="list-plain-item">当社は前項による本規約の変更にあたり、変更後の本規約の効力発生日までの相当期間、本規約を変更する旨及び変更後の本規約の内容とその効力発生日を当社ウェブサイトに掲示その他当社が別途定める方法により、利用者に対して通知します。</li>
				<li class="list-plain-item">変更後の本規約の効力発生日以降に利用者が本サービスを利用した場合、利用者は、変更後の本規約に同意したものとみなします。</li>
				<li class="list-plain-item">本規約の全部又は一部が変更された場合、本サービスの利用に関して、変更後の本規約のみが利用者及び当社に適用され、利用者及び当社は変更後の本規約のみに従うものとします。</li>
			</ol>
		</section>

		<section>
			<h3 class="heading-xl">第2条 本サービスの利用</h3>
			<ol class="list-plain list-styled row-gap-md">
				<li class="list-plain-item">利用者は、法令、本規約、当社が別途定めるガイドライン、プライバシーポリシー及びヘルプ及び諸規定に従い、本サービスを利用するものとします。</li>
				<li class="list-plain-item">未成年、成年被後見人、被保佐人及び被補助人の利用者は、法定代理人によって操作されていないもしくは法定代理人の事前の同意を得ていなかった場合は、本サービスを利用することができません。</li>
			</ol>
		</section>

		<section>
			<h3 class="heading-xl">第3条 本サービスの内容</h3>
			<p class="paragraph">利用者は、本サービスにおいて以下の各号に規定する行為ができます。</p>
			<ol class="list-plain list-parentheses-number row-gap-md">
				<li class="list-plain-item">当社所定の方法に従い、当社から商品を購入すること。なお、一部購入に会員登録が必要な商品があります。</li>
				<li class="list-plain-item">お気に入り機能を利用すること（「お気に入り機能」とは、利用者のお気に入りアイテム、お気に入りブランド及びお気に入りショップを登録及び閲覧できる機能をいいます。）。</li>
				<li class="list-plain-item">その他、当社が本サイトを通じて利用者向けに提供するサービスを利用すること。</li>
			</ol>
		</section>
	</section>

	<section>
		<h2 class="heading-2xl">第2章 会員登録及びサービスの利用</h2>

		<section>
			<h3 class="heading-xl">第4条 会員</h3>
			<ol class="list-plain list-styled row-gap-md">
				<li class="list-plain-item">本規約において「会員」とは、本規約に同意の上、本規約に従って本サービスの会員登録をした利用者をいいます。</li>
				<li class="list-plain-item">会員は、本サービスにおいて以下の各号に規定する行為ができます。
					<ol class="list-plain list-parentheses-number row-gap-md">
						<li class="list-plain-item">会員登録情報機能を利用すること（「会員登録情報機能」とは、会員の氏名、性別、生年月日、住所及びメールアドレス登録並びに会員のZOZO IDその他の登録情報を閲覧できる機能といいます。）。</li>
						<li class="list-plain-item">ポイントの取得及び利用などのサービスを利用すること。</li>
						<li class="list-plain-item">その他、当社が本サイトを通じて会員向けに提供するサービスを利用すること。</li>
					</ol>
				</li>
			</ol>
		</section>

		<section>
			<h3 class="heading-xl">第5条 会員登録</h3>
			<ol class="list-plain list-styled row-gap-md">
				<li class="list-plain-item">利用者のうち本サービスの会員登録を希望する者（以下、「会員登録希望者」といいます。）は、本規約に同意した上で、本サイトの会員登録ページから、当社が別途指定する方法に従い、自らの性別、生年月日、郵便番号、メールアドレス及びパスワードを設定及び入力し、また、本サービスにより商品を購入する際には、自らの氏名、住所及び電話番号も設定及び入力し、会員登録の申請（以下、「登録申請」といいます。）を行うものとします。未成年、成年被後見人、被保佐人及び被補助人は、法定代理人によって設定及び入力されていないもしくは法定代理人の事前の同意を得ていなかった場合は、登録申請ができないものとします。</li>
				<li class="list-plain-item">パソコン、タブレット端末及びスマートフォンから登録申請がなされた場合、当社は、会員登録希望者が会員登録ボタンを押した時点で、登録申請を承認するものとします。また、パソコン、タブレット端末及びスマートフォン以外から登録申請がなされた場合、当社は、会員登録希望者が設定及び入力したメールアドレスに登録確認メールを送信し、当該メールが受領され、当該メールに記載されたアドレスを会員登録希望者が押した時点で登録申請を承認するものとします。</li>
				<li class="list-plain-item">前項の規定に拘わらず、当社は、以下の各号の何れかに該当することが判明した場合、登録申請を承認しないことがあります。
					<ol class="list-plain list-parentheses-number row-gap-md">
						<li class="list-plain-item">会員登録希望者が、当社並びに当社の親会社、子会社及び当社の親会社の子会社（当社を含め、以下、「グループ会社」といいます。）が現在提供する又は過去に提供していたサービスに関する規約に違反したこと又はその他の事由により、会員登録の取消その他の処分を受けていた場合</li>
						<li class="list-plain-item">会員登録希望者が登録申請に際して当社に提供した内容に、虚偽の事項が含まれていた場合</li>
						<li class="list-plain-item">会員登録希望者が、グループ会社が現在提供する又は過去に提供していたサービスに関して、料金その他の支払をしていないこと（グループ会社が別途認める支払方法に従って第三者に対して料金その他の支払をしていないことを含みますが、これに限りません。）又は正当な理由なく長期間にわたる商品の受領不能、返品若しくは交換の拒絶その他の債務不履行をしていた場合</li>
						<li class="list-plain-item">会員登録希望者が、過去に第21条第1項に規定する行為をした場合</li>
						<li class="list-plain-item">会員登録希望者が、第22条第1項に反した場合</li>
						<li class="list-plain-item">上記各項に該当する虞があると当社が合理的に判断する場合</li>
						<li class="list-plain-item">その他登録申請を承認することが本サービスの運営又は管理上、不適当であると当社が合理的に判断する場合</li>
					</ol>
				</li>
			</ol>
		</section>

		<section>
			<h3 class="heading-xl">第6条 登録内容の変更</h3>
			<ol class="list-plain list-styled row-gap-md">
				<li class="list-plain-item">利用者は、氏名、住所、電話番号その他当社に登録している内容の全部又は一部に変更が生じた場合、当社が別途指定する方法により、直ちに登録内容を変更するものとします。</li>
				<li class="list-plain-item">当社は、利用者が前項に従って登録内容を変更しなかったことに起因又は関連して、利用者に生じた損害、損失、費用及び不利益（以下、「損害等」といいます。）について、損害賠償、補償、補填その他の責任を負いません。</li>
			</ol>
		</section>

		<section>
			<h3 class="heading-xl">第7条 退会手続</h3>
			<p class="paragraph">会員は、当社が別途定める手続を経て、いつでも退会することができます。会員は、本規約に従って当社が会員からの退会申請を受領した時点で会員資格を喪失するものとします。</p>
		</section>

		<section>
			<h3 class="heading-xl">第8条 本サービスの利用停止及び会員登録の取消等</h3>
			<ol class="list-plain list-styled row-gap-md">
				<li class="list-plain-item">当社は、利用者が以下の各号の何れかに該当することが判明した場合、当該利用者に事前に通知又は催告することなく、当該利用者に対する本サービスの利用停止、会員登録の取消その他当社が適当と考える措置を講じることができるものとします。
					<ol class="list-plain list-parentheses-number row-gap-md">
						<li class="list-plain-item">利用者が、グループ会社が現在提供する又は過去に提供していたサービスに関する規約に違反をしたこと又はその他の事由により、利用停止又は会員登録の取消その他の処分を受けていた場合</li>
						<li class="list-plain-item">利用者が当社に提供した内容に、虚偽の事項が含まれていた場合</li>
						<li class="list-plain-item">利用者が、グループ会社が現在提供する又は過去に提供していたサービスに関して、金員の支払をしていないこと（グループ会社が別途認める支払方法に従って第三者に対して金員の支払をしていないことを含みますが、これに限りません。）又は正当な理由なく長期間にわたる商品の受取り不能、返品若しくは交換の拒絶その他の債務不履行をしていた場合</li>
						<li class="list-plain-item">利用者が、本規約に違反（軽微な違反を含みます。）した場合（第21条第1項及び第22条第1項の違反を含みますが、これらに限りません。）</li>
						<li class="list-plain-item">その他利用者がグループ会社の定める何らかの規約に違反した場合</li>
					</ol>
				</li>
				<li class="list-plain-item">利用者は、前項各号に規定する場合が本サービスを利用できない重大な事由に該当することを確認するものとします。</li>
				<li class="list-plain-item">本条第1項に定める事由による措置によって利用者が被った損害等について、当社の故意又は重過失による場合を除いて当社は損害賠償、補償、補填その他の責任を負いません。</li>
			</ol>
		</section>

		<section>
			<h3 class="heading-xl">第9条 ID及びパスワードの管理</h3>
			<ol class="list-plain list-styled row-gap-md">
				<li class="list-plain-item">利用者は、自己の責任において、本サービスのログインに用いる自己のZOZO IDその他の各種ID（注文確定メールを管理するメールサーバー等の本サービスと連携する他社サービスのIDを含みます。）及びメールアドレス並びにパスワード（以下、「ログイン情報」といいます。）を厳重に管理及び保管するものとします。</li>
				<li class="list-plain-item">利用者は、自己のログイン情報を第三者に利用させ又は譲渡、売買、承継、貸与、開示若しくは漏洩してはならないものとします。</li>
				<li class="list-plain-item">利用者は、自己のログイン情報が第三者によって不正に使用されていることが判明した場合、直ちに当社に連絡するものとし、当社の指示がある場合は当該指示に従うものとします。</li>
				<li class="list-plain-item">本サイトへのアクセスに関連して送信されたログイン情報が、会員登録申請時又は会員登録後のログイン情報変更時に当社に登録したログイン情報と同一である場合、当社は、当該会員からの送信とみなします。</li>
				<li class="list-plain-item">利用者は、自己のログイン情報の管理不十分、使用上の過誤又は不手際、第三者による無断使用その他本条の違反に起因又は関連して利用者に生じた損害等につき自ら責任を負うものとし、当社の故意又は重過失による場合を除いて、当社は損害賠償、補償、補填その他の責任を負いません。</li>
			</ol>
		</section>

		<section>
			<h3 class="heading-xl">第10条 商品の購入</h3>
			<ol class="list-plain list-styled row-gap-md">
				<li class="list-plain-item">利用者は、本サービスにより商品の購入を希望する場合、当社が別途指定する方法に従って、商品の購入を申込むものとします。</li>
				<li class="list-plain-item">前項の申込みに伴い、利用者が入力した事項及び注文内容等を確認の上で本サイトにおいて注文する旨のボタンをクリックし、その後、当社から注文内容を確認する旨のメールが利用者に到達した時点で、利用者と当社との間に当該商品に関する売買契約が成立するものとします。</li>
				<li class="list-plain-item">前項の規定に拘わらず、本サービスの利用に関して利用者に不正又は不適当な行為、本規約の違反（軽微な違反を含みます。）があった場合（第21条第1項及び第22条第1項の違反を含みますが、これらに限りません。）、当社は、売買契約について取消、解除、損害賠償請求その他当社が適当と考える措置を講じることができるものとします。なお、当該措置によって利用者が被った損害等に関して、当社の故意又は重過失による場合を除いて、当社は損害賠償、補償、補填その他の責任を負いません。</li>
				<li class="list-plain-item">本サービスの対象（配達先、利用者の住所登録を含みますが、これに限りません。）は日本国内とします。</li>
			</ol>
		</section>

		<section>
			<h3 class="heading-xl">第11条 支払方法</h3>
			<ol class="list-plain list-styled row-gap-md">
				<li class="list-plain-item">商品の代金は、商品の価格（消費税を含みます。）及び商品の販売に係る取扱手数料の合計となります。</li>
				<li class="list-plain-item">商品の代金の支払方法は、利用者本人名義のクレジットカードによる支払又は当社が別途認める支払方法に限ります。</li>
				<li class="list-plain-item">クレジットカードによる支払の場合、利用者は、利用者がクレジットカード会社との間で別途契約する条件に従うものとします。なお、クレジットカードの利用に関連して、利用者とクレジットカード会社の間で何らかの紛争が発生した場合、利用者は、自己の責任において、当該紛争を解決するものとします。</li>
			</ol>
		</section>

		<section>
			<h3 class="heading-xl">第12条 所有権の移転</h3>
			<p class="paragraph">商品の所有権及び危険負担は、当社又は当社と提携する第三者が商品を配送業者に引き渡した時点で、利用者に移転するものとします。</p>
		</section>

		<section>
			<h3 class="heading-xl">第13条 商品の返品、交換並びに注文の撤回及び取消し</h3>
			<p class="paragraph">※詳細については「<a href="/_help/?title=%E3%81%94%E6%B3%A8%E6%96%87%E3%81%AE%E5%8F%96%E6%B6%88%E3%81%97%E3%83%BB%E8%BF%94%E5%93%81%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6">ご注文の取消し・返品について</a>」をご確認ください。</p>
			<ol class="list-plain list-styled row-gap-md">
				<li class="list-plain-item">当社は、以下の各号の何れかに該当する場合に限り、商品の返品を受け付けます。
					<ol class="list-plain list-parentheses-number row-gap-md">
						<li class="list-plain-item">商品が模造品又は海賊版であることが判明した場合</li>
						<li class="list-plain-item">商品の品質が契約内容に適合しない場合（破れ、ほつれ、色落ち、カビその他の破損がある場合、又は本サイトにおける販売ページ上の当該商品の品質に関する説明と異なる場合をいいます。）</li>
						<li class="list-plain-item">ご注文内容と異なる種類又は数の商品が到着した場合</li>
						<li class="list-plain-item">以下のいずれにも該当しない場合であって、かつ、利用者が商品受領後7日以内に当社が別途定める手順に従い返品の申請を行った場合。但し、返品申請がなされた日から7日以内に当社に商品が到着しない場合、返品することができません。
							<ol class="list-plain list-circle-number row-gap-sm">
								<li class="list-plain-item">
									<span class="list-number">&#9312;</span>
									使用済み、お直し、洗濯又はクリーニングされた場合
								</li>
								<li class="list-plain-item">
									<span class="list-number">&#9313;</span>
									商品タグ又はラベルが切り離された又は紛失された場合
								</li>
								<li class="list-plain-item">
									<span class="list-number">&#9314;</span>
									返送時の商品（箱、商品の付属品を含みますが、これらに限りません。）の状態がお届け時と比べて毀損、汚損又は紛失その他劣化している場合
								</li>
								<li class="list-plain-item">
									<span class="list-number">&#9315;</span>
									商品に臭いが付着、汚れ又はキズが生じた場合
								</li>
								<li class="list-plain-item">
									<span class="list-number">&#9316;</span>
									パッケージが商品の一部となっている商品について、パッケージが開封された場合
								</li>
								<li class="list-plain-item">
									<span class="list-number">&#9317;</span>
									下着、水着、靴下その他肌に直接触れる商品、化粧品その他の衛生商品、福袋、フィギュア、雑誌、ギフトラッピングを利用した商品又は本サイトにおける販売ページ上に「返品・交換対象外」の記載がある商品の場合
								</li>
							</ol>
						</li>
					</ol>
				</li>
				<li class="list-plain-item">利用者は、当社が別途定める手順に従って返品の申請を行うものとします。前項第(1)号から第(3)号に該当する場合、返送にかかる費用は当社が負担し、当社は、利用者が購入した時点の返品対象商品の販売価格、利用者が購入した際にかかる配送料及び各種手数料、並びに返品対象商品の購入に際して使用したZOZOポイント若しくは提携サイト発行ポイントを返還するか、又は代品に交換します。なお、代品への交換を希望された場合も、商品の欠品その他の事由により交換できないことがあります。また、前項第(4)号に該当する場合、利用者が購入した際にかかる配送料、即日配送手数料、代引き手数料及びコンビニ決済手数料並びに返送にかかる費用は利用者が負担し、当社は、利用者が購入した時点の返品対象商品の販売価格、ツケ払い手数料、GMO後払い手数料及び返品対象商品の購入に際して使用したZOZOポイント又は提携サイト発行ポイントを返還します。ただし、複数の商品を注文し、その一部を返品する場合においては、前項第(1)号から第(4)号のいずれによる場合であっても、利用者が購入した際にかかる配送料及び各種手数料は返金いたしません。</li>
				<li class="list-plain-item">前号においてポイント又は提携サイトポイントを返還する場合、返還の時点でポイント有効期限を超過している場合には、当該ポイントは失効したものとして返還いたしません。なお、各種キャンペーンによって付与されたポイントについては、キャンペーンごとに設定されている返還条件において別途条件を定める場合がございます。</li>
				<li class="list-plain-item">利用者は、商品の返品を行った場合、当該商品及び利用者が返品対象商品の購入に際して取得したZOZOポイント又は提携サイトがあれば、当該発行ポイントを当社に返還するものとし、当社と利用者間で相互に返還すべきポイントの処理方法は、対等数をもって相殺する方法により行うものとします。この場合、当社が返還すべきポイント数が、利用者が返還すべきポイント数を上回るときは、当該相殺後の残数のポイントを利用者に返還するものとし、利用者が返還すべきポイント数が、当社が返還すべきポイント数を上回るときは、当該相殺後の残数に相当する額（返品対象商品の購入時点における1ポイントあたりの金額で算定した額）を、当社が利用者に返金すべき返品対象商品の購入代金から控除する方法で行うものとします。</li>
				<li class="list-plain-item">当社は、予約商品及び受注商品（但し、福袋・福箱を除きます。）については注文確定から24時間以内に限り、また、その他の商品については注文確定後注文履歴から確認できる商品の発送状況が「発送準備中」と表示されている期間に限り、注文の撤回及び取消しを受け付けるものとします。注文履歴から確認できる商品の発送状況が商品の発送処理中もしくは発送済みである場合は、当社の責めに帰すべき事由がある場合を除き、注文の撤回及び取消しはできません（商品到着後の返品については、第1項の定めに従います。）。</li>
				<li class="list-plain-item">当社は、利用者が正当な理由なく商品を当社に返送した場合（第1項各号に定める場合に該当しない商品の返品、受領拒否及び受領不能を含みますが、これらに限りません。）、当該商品を受領後遅滞なく利用者に対して通知し、相当の期間を定めた上で当該商品の受け取りにつき利用者に対して指示を求めるものとします。なお、当社は、利用者から商品の受け取りに関する指示を受けた場合、当該商品について現状有姿で引渡すものとし、当該商品の状態（商品の変質、変形、消耗、毀損及び腐敗を含みますが、これらに限りません。）について、当社の故意又は重過失による場合を除いて、当社は損害賠償、補償、補填その他の責任を負いません。</li>
				<li class="list-plain-item">当社は、前項の相当の期間内に利用者から指示がない場合、利用者により当該商品の所有権その他の権利が放棄されたものとして、廃棄その他の方法により当該商品を任意に処分できるものとします。当該処分について、当社の故意又は重過失による場合を除いて、当社は損害賠償、補償、補填その他の責任を負いません。</li>
				<li class="list-plain-item">利用者が当社に返送した商品に利用者の私物が同梱されていた場合、利用者により当該私物の所有権その他の権利が放棄されたものとして、当社は、利用者に対し予告又は通知することなく、廃棄その他の方法により当該私物を任意に処分できるものとします。当社は、当該処分に関して利用者に対して責任を負いません。</li>
			</ol>
		</section>

		<section>
			<h3 class="heading-xl">第14条 商品に関する免責</h3>
			<ol class="list-plain list-styled row-gap-md">
				<li class="list-plain-item">本サービスを通じて販売される商品の品質、材質、機能、性能、他の商品との適合性その他の欠陥に関する当社の責任は、当社の故意又は重過失による場合を除いて、前条に定めるものに限られるものとします。</li>
				<li class="list-plain-item">当社は、本サービス上に表示される利用者及び第三者が投稿した商品に関する写真及びコメント（本サービス上に表示される当社が運営するファッションSNS「WEAR」を利用するショップスタッフの投稿を含みますが、これに限らない）並びにTwitterその他のSNSサービスの利用会員が投稿した商品に関するコメントについて、適法性、有効性、正確性、確実性、安全性、最新性及び完全性を含め、何らの保証をせず当社の故意又は重過失による場合を除いて、責任を負いません。</li>
				<li class="list-plain-item">当社は、利用者が登録した連絡先に連絡すること及び商品購入の際に指定された配達先に商品を配送することにより、当社の故意又は重過失による場合を除いて当該債務から免責されるものとします。</li>
			</ol>
		</section>
	</section>

	<section>
		<h2 class="heading-2xl">第3章 サービスの運用</h2>

		<section>
			<h3 class="heading-xl">第15条 個人情報の取扱い</h3>
			<p class="paragraph">当社は、当社が別途定める「プライバシーポリシー」等に従って、本サービスの利用に関連して当社が知り得た利用者の個人情報を取り扱うものとします。</p>
		</section>

		<section>
			<h3 class="heading-xl">第16条 情報の管理</h3>
			<p class="paragraph">
				当社は、その裁量により、当社及び当社と提携するサイトにおいて、本サービスに関連して利用者が発信した画像、テキスト、デザイン、ロゴ、映像、プログラム、アイディアその他一切の情報（以下、「コンテンツ」といいます。）の全部又は一部を自由に利用できるものとします。当社は、当該コンテンツを利用するにあたり、利用者に対して金銭その他一切の対価の支払を要しないものとします。
			</p>
		</section>

		<section>
			<h3 class="heading-xl">第17条 サービスの停止又は中止</h3>
			<p class="paragraph">当社は、以下の各号の何れかに該当する場合、利用者に事前に通知又は催告をすることなく、本サイト及び本サービスの提供の全部又は一部を停止又は中止できるものとします。</p>
			<ol class="list-plain list-parentheses-number row-gap-md">
				<li class="list-plain-item">火災、地震、洪水、落雷、大雪その他の天変地異が生じた場合</li>
				<li class="list-plain-item">戦争、内乱、テロ、暴動、騒擾、重大な疫病その他の社会不安が生じた場合</li>
				<li class="list-plain-item">当社が契約している電話会社、運送会社又はプロバイダから適切なサービスを受けられなかった場合</li>
				<li class="list-plain-item">当社が技術的に対応不可能な事由が生じた場合</li>
				<li class="list-plain-item">本サービス提供のためのコンピューターシステム（以下、「システム」といいます。）の定期保守及び緊急保守の場合</li>
				<li class="list-plain-item">システムの不良及び第三者からの不正アクセス、コンピューターウィルスの感染等により、システムの運用が困難になった場合</li>
				<li class="list-plain-item">法令・規則の制定・改廃又は行政機関又は司法機関から相当な根拠に基づき要請された場合</li>
				<li class="list-plain-item">その他やむを得ずシステムの停止又は中止が必要であると当社が判断した場合</li>
			</ol>
		</section>
	</section>

	<section id="section-chapter-four">
		<h2 class="heading-2xl">第4章 その他特定のサービスに関する特約</h2>
		<section>
			<h3 class="heading-xl">第18条 置き配サービスに関する特約</h3>
			<p class="paragraph">会員は、配送業者が会員に対し対面で商品を直接手渡しするのではなく、会員があらかじめ指定した場所（以下「指定場所」といいます。）に非対面で商品を届ける配送方法（以下「置き配サービス」といいます。）を選択できる場合があります。会員が置き配サービスを利用する場合、以下の条件に同意し利用するものとします。</p>
			<ol class="list-plain list-styled row-gap-md">
				<li class="list-plain-item">会員が置き配を利用した場合、会員の在宅状況にかかわらず、指定場所に商品を置いた時点で配送が完了となり、当社は会員に対する商品の配送義務を果たしたものとします。会員は、配送完了後はすみやかに商品を引き取るものとし、指定場所への配送が完了した後の、商品の紛失、盗難、汚損、破損、品質の劣化、荷札に記載された情報の漏えい等による損害について、当社は一切の責任を負わないものとします。</li>
				<li class="list-plain-item">会員が置き配を指定した場合、配送業者が指定場所に商品を配送するために、会員の居宅の敷地内、車庫、またはマンション等の共有の敷地内に立ち入ることにあらかじめ同意するものとします。</li>
				<li class="list-plain-item">会員が置き配を指定した場合、配送完了時の商品の状況および配達状況の管理のため、配送完了時に配送業者が商品および置き場所の写真を撮影する場合があります。</li>
				<li class="list-plain-item">会員が置き配を指定した場合であっても、以下のような場合には置き配を行わず、対面での商品の引き渡しを行う場合があることに同意するものとします。
					<ol class="list-plain list-parentheses-number row-gap-md">
						<li class="list-plain-item">悪天候等により、指定場所に商品を置いた場合、商品の安全が確保できないと配送業者が判断した場合</li>
						<li class="list-plain-item">指定場所に商品が収まらないと配送業者が判断した場合</li>
						<li class="list-plain-item">指定場所を配送業者が特定できない場合</li>
						<li class="list-plain-item">指定場所に立ち入ることができないと配送業者が判断した場合</li>
						<li class="list-plain-item">建物管理規程その他の規程等により、指定場所への置き配が禁止されていると配送業者が判断した場合</li>
						<li class="list-plain-item">会員が指定した住所や指定場所の情報に誤り、不備がある場合</li>
						<li class="list-plain-item">その他、配送業者が置き配が不可能または困難と判断した場合</li>
					</ol>
				</li>
			</ol>
		</section>

		<section>
			<h3 class="heading-xl">第19条 店舗取り置きサービスに関する特約</h3>
			<ol class="list-plain list-styled row-gap-md">
				<li class="list-plain-item">当社は本サイト上において、商品の在庫を保有する店舗（以下、「在庫保有店舗」といいます。）の情報を利用者に提供することがあるものとします。</li>
				<li class="list-plain-item">利用者は、前項の在庫保有店舗の情報を元に、店舗での購入検討を希望する商品（以下、「店舗保有商品」といいます。）について、在庫保有店舗に対して、店舗保有商品の購入検討を希望する旨を通知することができるものとします。なお、当該通知の時点では店舗保有商品の売買契約は成立しません。</li>
				<li class="list-plain-item">当社は、前項の通知を実施した利用者に対して、QRコードを発行するものとします。利用者は当該QRコードを在庫保有店舗に来店した際に提示できるよう、適切に保管するものとします。</li>
				<li class="list-plain-item">利用者は、前項で発行されたQRコードを、在庫保有店舗に来店した際に店舗のスタッフに提示し、読み込みを行うものとします。QRコードを紛失又は滅失した等のいかなる理由であっても、QRコードを提示しなかった場合について利用者が負う損害について、当社は当社の故意又は重過失の場合を除いて一切免責されるものとします。</li>
				<li class="list-plain-item">店舗保有商品の売買契約は、在庫保有店舗に来店した後、在庫保有店舗と利用者の間で商品の売買に合意した場合に成立するものとします。そのため、売買契約が成立した場合、利用者は店舗保有商品についての支払いを在庫保有店舗にて実施するものとします。</li>
				<li class="list-plain-item">当社は、店舗取り置きサービスとして、利用者に対する在庫保有店舗の情報提供及び、利用者が希望した場合に店舗保有商品の購入検討を希望する旨を在庫保有店舗に通知することのみを行うのみであり、店舗保有商品についてその他の責任（売買契約の内容、店舗保有商品の不具合を含みますが、これに限りません。）を負わないものとします。</li>
				<li class="list-plain-item">利用者は、第21条第1項の禁止事項に加え、購入検討の意思がない商品について、店舗取り置きサービスを利用してはならないものとします。</li>
			</ol>
		</section>
	</section>

	<section>
		<h2 class="heading-2xl">第5章 一般条項</h2>
		<section>
			<h3 class="heading-xl">第20条 本サービスに関する免責事項</h3>
			<ol class="list-plain list-styled row-gap-md">
				<li class="list-plain-item">当社は、本サービスから他のウェブサイト若しくはリソースへのリンク又は第三者のウェブサイト若しくはリソースから本サービスへのリンクを提供している場合、当該リンク先又はリンク元のウェブサイト又はリソースの内容、利用及びその結果（適法性、有効性、正確性、確実性、安全性、最新性及び完全性を含みますが、これらに限りません。）について、何ら保証せず責任を負いません。当社は、リンク先のウェブサイト又はリソースの内容が、法令違反又は本サービスの管理若しくは運営上不適切であると合理的に判断した場合、利用者に何らの通知又は催告をすることなく、当該リンクを削除できるものとします。</li>
				<li class="list-plain-item">本サービス中に掲載されている広告（懸賞広告を含みますが、これに限りません。）又は宣伝を経由して、利用者と広告主又は宣伝主との間において取引（懸賞等のプロモーションへの参加を含みますが、これに限りません。）が行われる場合、利用者は、自らの判断と責任により当該取引を行うものとし、当社は責任を負いません。当該取引にかかる代金の支払、契約条件の決定、保証、担保責任、ライセンスの有無その他の内容及び条件について、当社は何ら保証せず責任を負いません。</li>
				<li class="list-plain-item">第17条各号の何れかに該当する場合その他不可抗力によって本サービスが停止又は中止されたことに関して、当社は責任を負いません。</li>
				<li class="list-plain-item">当社は、利用者が登録した内容に従って事務を処理することにより、当社の債務を履行し免責されるものとします。</li>
				<li class="list-plain-item">利用者が、本サービスを利用することにより、他の利用者又は第三者に対して損害等を与えた場合、当該利用者は自らの責任と費用において解決するとともに、当社に損害等を与えないものとします。</li>
				<li class="list-plain-item">本契約の定めに関わらず、当社の責めに帰すべき事由により本サービスに起因又は関連して利用者に生じた損害等について、当社に故意又は重過失がある場合を除き、当社は利用者に現実に生じた通常かつ直接の範囲の損害等に限り、代金相当額を限度として責任を負うものとします。</li>
			</ol>
		</section>

		<section>
			<h3 class="heading-xl">第21条 禁止事項</h3>
			<ol class="list-plain list-styled row-gap-md">
				<li class="list-plain-item">利用者は、以下の各号に該当する行為を行ってはならないものとします。
					<ol class="list-plain list-parentheses-number row-gap-md">
						<li class="list-plain-item">他の利用者、他の利用者以外の第三者又は当社に迷惑若しくは損害等を与える行為又はそれらのおそれのある行為</li>
						<li class="list-plain-item">他の利用者、他の利用者以外の第三者又は当社の著作権その他の知的財産権、肖像権、人格権、プライバシー権、パブリシティ権その他の権利を侵害する行為又はそれらのおそれのある行為</li>
						<li class="list-plain-item">本サービスを商業目的で利用する行為（但し、当社が予め認めたものは除きます。）</li>
						<li class="list-plain-item">公序良俗に反する行為その他法令に違反する行為又はそれらのおそれのある行為</li>
						<li class="list-plain-item">虚偽又は誤解を招くような内容を含む情報を登録する行為</li>
						<li class="list-plain-item">当社が本サービスで提供するコンテンツを利用者が私的使用の範囲外で使用する行為</li>
						<li class="list-plain-item">他の利用者又は他の利用者以外の第三者を介して、本サービスを通じて入手したコンテンツを複製、販売、出版、頒布、公開その他これらに類似する行為</li>
						<li class="list-plain-item">他の利用者の個人情報を収集、蓄積又は保存する行為</li>
						<li class="list-plain-item">コンピューターのソフトウェア、ハードウェア又は通信機器の機能を妨害、破壊又は制限するように設計されたコンピューターウィルス、コンピューターコード、ファイル又はプログラムを本サービスにアップロード又はメール等の手段で送信する行為</li>
						<li class="list-plain-item">クローリング（クローラ、ロボット又はスパイダー等のプログラム）、スクレイピング及びその他の類似の手段によって本サービスにアクセスし、又は本サービスに関する情報を取得する行為</li>
						<li class="list-plain-item">不正なプログラム・スクリプトなどを用いて、サーバーに負荷を与える行為</li>
						<li class="list-plain-item">同一利用者が複数の会員登録をする行為（パソコン、携帯電話又はスマートフォンの何れかから別々に登録する行為も含みますが、これに限りません。）</li>
						<li class="list-plain-item">過度に注文をキャンセル又は商品を返品する行為</li>
						<li class="list-plain-item">当社の信用を毀損又は失墜させる行為その他当社が不適当であると合理的に判断する行為</li>
					</ol>
				</li>
				<li class="list-plain-item">利用者は、前項の違反（軽微な違反を含みます。）に起因又は関連して当社又は第三者に生じた損害等を全て賠償するものとします。</li>
			</ol>
		</section>

		<section>
			<h3 class="heading-xl">第22条 反社会勢力の排除</h3>
			<ol class="list-plain list-styled row-gap-md">
				<li class="list-plain-item">利用者は、当社に対して、以下の各号の事項を確約するものとします。
					<ol class="list-plain list-parentheses-number row-gap-md">
						<li class="list-plain-item">自らが、暴力団、暴力団関係企業、総会屋若しくはこれらに準ずる者又はその構成員（以下、「反社会勢力」といいます。）ではないこと。</li>
						<li class="list-plain-item">会員登録希望者及び利用者が法人の場合、自らの役員（業務を執行する社員、取締役、執行役又はこれらに準ずる者をいいます。）が反社会勢力ではないこと。</li>
						<li class="list-plain-item">反社会勢力に自己の名義を利用させ、又は反社会勢力の利益に供するために本サービスを利用するものではないこと。</li>
						<li class="list-plain-item">自ら又は第三者を利用して、当社に対する脅迫的な言動又は暴力を用いる行為や、偽計又は威力を用いて当社の業務を妨害し又は信用を毀損する行為を行わないこと。</li>
					</ol>
				</li>
				<li class="list-plain-item">当社は、利用者が前項に違反した場合、利用者に何らの通知又は催告なく、当該利用者との商品の売買契約の解除及び会員登録の抹消その他本規約に定める措置を講じることができるものとします。</li>
				<li class="list-plain-item">前項の措置に起因又は関連して当該会員登録希望者又は利用者に生じた損害等について、当社に故意又は重過失がある場合を除き、当社は損害賠償、補償、補填その他の責任を負いません。また、当該利用者は、第1項に違反したことに起因又は関連して当社に生じた損害等を賠償するものとします。</li>
			</ol>
		</section>

		<section>
			<h3 class="heading-xl">第23条 知的財産権</h3>
			<ol class="list-plain list-styled row-gap-md">
				<li class="list-plain-item">本サービスを通じて提供されるコンテンツの著作権その他の知的財産権は、全て当社及びコンテンツ提供者に専属的に帰属するものとします。</li>
				<li class="list-plain-item">目的の如何を問わず、利用者によるコンテンツの無断複製、無断転載その他の無断二次利用行為その他の国内外の著作権法を含む法令により禁止される行為が発見された場合、当社は直ちに法的措置をとるものとします。</li>
				<li class="list-plain-item">本条の規定に違反して利用者と第三者との間で何らかの紛争が生じた場合、利用者はその責任と費用において解決するとともに、当社に損害等を与えないものとします。また、万が一、当社に損害等が生じた場合、利用者は、当該損害等を全て賠償するものとします。</li>
			</ol>
		</section>

		<section>
			<h3 class="heading-xl">第24条 分離可能性</h3>
			<p class="paragraph">本規約の何れかの条項の全部又は一部が無効又は違法となった場合であっても、当該無効又は違法は、如何なる意味でも本規約の他の条項並びにその解釈及び適用に何ら影響せず、これらの適法性及び有効性を損なわず、またこれらを無効にするものではありません。</p>
		</section>

		<section>
			<h3 class="heading-xl">第25条 譲渡禁止</h3>
			<p class="paragraph">利用者は、当社の書面による事前の承諾を得た場合を除き、本規約に基づく権利義務又は債権債務の全部又は一部を第三者に譲渡、移転、承継、担保提供その他の処分をしてはならないものとします。</p>
		</section>

		<section>
			<h3 class="heading-xl">第26条 その他</h3>
			<ol class="list-plain list-styled row-gap-md">
				<li class="list-plain-item">本サービスに関して、本規約又は当社の指導若しくは対応により解決できない問題が生じた場合、当社と利用者との間で双方誠実に話し合い、これを解決するものとします。</li>
				<li class="list-plain-item">本規約の準拠法は日本法とします。</li>
				<li class="list-plain-item">本規約に関して発生する紛争については、東京簡易裁判所又は東京地方裁判所を第一審の専属合意管轄裁判所とします。</li>
			</ol>
		</section>
	</section>

	<p class="paragraph spacing-t-xl">付則：本規約は2011年9月6日から全ての利用者に適用されるものとします。</p>

	<div class="text-group">
		<div class="text-group-item">2016年4月27日 改定</div>
		<div class="text-group-item">2020年3月31日 改定</div>
		<div class="text-group-item">2021年2月3日 改定</div>
		<div class="text-group-item">2021年6月30日 改定</div>
		<div class="text-group-item">2021年7月29日 改定</div>
		<div class="text-group-item">2021年10月21日 改定</div>
		<div class="text-group-item">2021年11月1日 改定</div>
		<div class="text-group-item">2022年8月2日 改定</div>
		<div class="text-group-item">2023年6月12日 改定</div>
	</div>
</div>

</p>
			
		</di>
	</article>
    
</body>
</html>