<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<meta name="description" content="contact">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">

<link rel="stylesheet" href="./../../../resources/static/taga/toppagecss.css">

<link th:href="@{/taga/toppagecss.css}" rel="stylesheet" type="text/css" />

<title>特定商取引法に基づく表示 </title>
</head>
<body>
	<header>

        <div class="header">
            <div class="logo">

                <a href="Toppage">
                    <img class="logo" th:src="@{/taga/ceros.jpg}">
                </a>

            </div>
            <div>
				<h3>Fumio Kishida  さん ようこそ♪</h3>
			</div>

            <div class="rightheader">
                <div class="login">
                    <a href="">ログイン</a>
                </div>
                
                <div class="favorite">
                    <a href="favoriteitems">お気に入り</a>
                </div>

                <div class="cart">
                    <a href="">カート</a>
                </div>
            </div>
        </div>

    </header>
    
    <article>
		<div class="otherarticle">
			
			<h2>特定商取引法に基づく表示</h2>
			
			
				
■販売事業者の名称<br>
株式会社hamada<br>
<br>
<br>
■代表者<br>
代表取締役社長兼CEO　濱田　慧<br>
<br>
<br>
■販売事業者の住所<br>
〒263-0023<br>
千葉県千葉市稲毛区緑町1-15-16<br>
※返品交換の受付窓口とは異なりますのでご注意ください。<br>
<br>
■販売事業者の連絡先<br>
ヘルプページ「問い合わせ窓口」をご確認ください。<br>
※電話での対応を希望される方はメールまたはチャットにてお知らせください。<br>
<br>
<br>
■商品の販売価格<br>
商品ごとに表示<br>
<br>
<br>
■商品代金以外の必要金額<br>
・支払い手数料（代金引換・コンビニ決済・GMO後払い・ツケ払い）<br>
・送料<br>
・即日配送手数料<br>
※詳しくは、ヘルプページ「送料・各種手数料」をご覧ください。<br>
<br>
<br>
■支払方法・支払い期限<br>
【代金引換】<br>
商品お受け取り時に配達業者にお支払いいただきます。<br>
<br>
【クレジットカード】<br>
クレジットカードの締め日や契約内容により異なります。ご利用のカード会社までお問い合わせください。<br>
<br>
【コンビニ決済（ローソン、ファミリーマート、ミニストップ、デイリーヤマザキ、セブンイレブン）】<br>
ご注文から3日以内にお支払いいただきます。<br>
<br>
【GMO後払い】<br>
請求書発行日から14日以内にお支払いいただきます。<br>
<br>
【ツケ払い】<br>
ご注文日から2ヶ月以内にお支払いいただきます。<br>
<br>
<br>
■注文の取消し・返品・交換の規定<br>
【取消しについて】<br>
ヘルプページ「注文の取消し」「注文の取消し手順」「注文の取消し手順（ログインなし/配送先未入力の場合）」「注文の取消しに関する注意事項」をご確認ください。<br>
<br>
【返品・交換について】<br>
ヘルプページ「商品の返品」「商品の変更・交換」「返品・交換の条件」「商品を返送する際の注意事項」をご確認ください。<br>
<br>
</p>
			
		</di>
	</article>
    
</body>
</html>