<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>購入完了</title>
<style>
    .buttonB{
        position:relative;
        margin-top:40px;
        margin-left:100px;
        height:90px;
        width:200px;
        background-color: gray;
        }
        .b{
            text-decoration: none;
            text-align: center;
            color:black;
            position:absolute;
            padding-top: 35px;
            width:100%;
            height:100%;
        }
</style>
</head>
<body>
<h1>商品の購入ありがとうございました</h1>
<div class="buttonB"><a href="/" class="b">買い物を続ける</a></div>
</body>