<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
<div style="margin: 10px">
		<h3>商品一覧：</h3>
		<table border="1" th:unless="${#lists.isEmpty(list)}" style="table-layout: fixed;">
			<tr>
				<th>商品コード</th>
				<th>商品名</th>
				<th>価格</th>
				<th>カテゴリー</th>
				<th>属性</th>
				<th>在庫数</th>
				<th>登録日</th>
				<th>更新日</th>
				<th>取り扱い終了日</th>
				<th>編集</th>
				<th>削除</th>
			</tr>
			<tr th:each="obj : ${list}" align="center">
				<td th:text="${obj.code}"></td>
				<td th:text="${obj.name}"></td>
				<td th:text="${obj.price}"></td>
				<td th:text="${obj.category}"></td>
				<td th:text="${obj.attribute}"></td>
				<td th:text="${obj.stock}"></td>
				<td th:text="${obj.regiday}"></td>
				<td th:text="${obj.update}"></td>
				<td th:text="${obj.eos}"></td>
			</tr>
		</table>

	</form>
	<br>
	<hr>
</body>
</html>