<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ShoppingWeb:商品管理</title>
</head>

<body>
	<h1>ShoppingWeb:商品管理</h1>
	<h3>商品追加</h3>

	<form method="POST" th:object="${merch}" th:action="@{/yamaguti/update}">
		<label>商品コード：</label><br>
		<input type="text" th:field="*{code}" />
		<br>
		<label>商品名：</label><br>
		<input type="text" th:field="*{name}" />
		<br>
		<label>価格：</label><br>
		<input type="text" th:field="*{price}" />
		<br>
		<label>カテゴリ：</label><br>
		<input type="text" th:field="*{category}" />
		<br>
		<label>属性：</label><br>
		<input type="text" th:field="*{attribute}" />
		<br>
		<label>在庫：</label><br>
		<input type="text" th:field="*{stock}" />
		<br>
		<label>登録日：</label><br>
		<input type="date" pattern="^[0-9]+$" th:field="*{regiday}" />
		<br>
		<label>更新日：</label><br>
		<input type="date" pattern="^[0-9]+$" th:field="*{update}" />
		<br>
		<label>取扱終了日：</label><br>
		<input type="date" pattern="^[0-9]+$" th:field="*{eos}" />
		<br>
		<input type="submit" value="送信">


	</form>
	<br>
	<hr>